.wallBackground{
    background-image : url('/img/wall_background1.png');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.image-container {
    display: flex;
    width: 100%;
}

.image-container img {
    max-width: 80%;
    height: auto;
}

.right-aligned {
    justify-content: flex-end;
}

.left-aligned {
    justify-content: flex-start;
}

.image-container a {
   margin-right: -40px;
}

